<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <h1 class="fs-4"><strong>HiveMind Capital</strong></h1>
      For questions about the real estate fund please email us at <a href="mailto:hivemindcapitalllc@gmail.com">hivemindcapitalllc@gmail.com</a> 
    </header>

    <div>
      <img src="../assets/hive-mind-bg.jpeg" class="img-fluid" alt="Responsive image">
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      <hr>
      &copy; HMC 2021 br
    </footer>
  </div>
</main>